/* ==========================================================================
   Configuración de Fuentes (Inter)
   ========================================================================== */

/* 300 - Light */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/Inter/inter-v20-latin-300.woff2') format('woff2');
}

/* 400 - Regular */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Inter/inter-v20-latin-regular.woff2') format('woff2');
}

/* 500 - Medium */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/Inter/inter-v20-latin-500.woff2') format('woff2');
}

/* 600 - SemiBold */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/Inter/inter-v20-latin-600.woff2') format('woff2');
}

/* 700 - Bold */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/Inter/inter-v20-latin-700.woff2') format('woff2');
}
