@use "sass:map";
@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

/* ==========================================================================
   GRID SYSTEM
   ========================================================================== */

.container {
  width: 100%;
  max-width: map.get(var.$breakpoints, 'xxl');
  margin: 0 auto;
  padding: 0 var.$gp-m;
}

.container-fluid {
  width: 100%;
  padding: 0 var.$gp-m;
}

.grid-auto {
  display: grid;
  gap: var.$gp-m;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var.$gp-m;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span #{$i};
  }
}

@media (max-width: map.get(var.$breakpoints, 'md')) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      grid-column: span 12;
    }
  }
}
