@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;


.main-section {
    padding: var.$gp-l 0; // Separación del header y footer

    .container{
        height: inherit;
    }
}

.main-layout {
    display: flex;
    gap: 40px; // Separación exacta de 40px entre menú y contenido
    align-items: flex-start;
}

.main-content {
    flex-grow: 1;
}
